@model IEnumerable<SalesAndPurchaseManagement.Models.MenuItem>

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @foreach (var item in Model)
        {
            <li class="nav-item @(item.SubItems.Any() ? "has-treeview" : "")">
                <a href="@item.Link" class="nav-link">
                    <i class="nav-icon @item.Icon"></i>
                    <p>
                        @item.Name
                        @if (item.SubItems.Any())
                        {
                            <i class="right fas fa-angle-left"></i>
                        }
                    </p>
                </a>
                @if (item.SubItems.Any())
                {
                    <ul class="nav nav-treeview">
                        @foreach (var subItem in item.SubItems)
                        {
                            <li class="nav-item">
                                <a href="@subItem.Link" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@subItem.Name</p>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>
<!-- /.sidebar-menu -->
