@model IEnumerable<SalesAndPurchaseManagement.Models.Job>

@{
    ViewData["Title"] = "Danh Sách Công Việc";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<div class="ms-2 mx-2">
    <a asp-controller="Job" asp-action="Create" class="btn btn-primary">
        <i class="fa fa-briefcase"></i> Tạo Công Việc Mới
    </a>

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-3">
            Không có công việc nào trong danh sách.
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh Sách Công Việc</h3>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().JobId)</th>
                            <th>@Html.DisplayNameFor(model => model.First().JobTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Salary)</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => job.JobId)</td>
                                <td>@Html.DisplayFor(modelItem => job.JobTitle)</td>
                                <td>@Html.DisplayFor(modelItem => job.Salary)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@job.JobId" class="btn btn-warning btn-sm me-1">
                                        <i class="fa fa-pencil-alt"></i> Sửa
                                    </a>
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@job.JobId" class="btn btn-danger btn-sm me-1">
                                        <i class="fa fa-trash"></i> Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
