@model IEnumerable<SalesAndPurchaseManagement.Models.Employee>

@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<div class="ms-2 mx-2">
    <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
        <i class="fa fa-user-plus"></i> Tạo Nhân Viên Mới
    </a>

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-3">
            Không có nhân viên nào trong danh sách.
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh Sách Nhân Viên</h3>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().EmployeeId)</th>
                            <th>@Html.DisplayNameFor(model => model.First().EmployeeName)</th>
                            <th>@Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Gender)</th>
                            <th>@Html.DisplayName("Công Việc")</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                            <th>Xem chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => employee.EmployeeId)</td>
                                <td>@Html.DisplayFor(modelItem => employee.EmployeeName)</td>
                                <td>@Html.DisplayFor(modelItem => employee.PhoneNumber)</td>
                                <td>
                                    @switch (employee.Gender)
                                    {
                                        case Gender.Male:
                                            <span>Nam</span>
                                            break;
                                        case Gender.Female:
                                            <span>Nữ</span>
                                            break;
                                        default:
                                            <span>Không xác định</span>
                                            break;
                                    }
                                </td>
                                <td>@employee.Job?.JobTitle</td> 
                                <td>
                                    <a asp-action="Edit" asp-route-id="@employee.EmployeeId" class="btn btn-warning btn-sm me-1">
                                        <i class="fa fa-pencil-alt"></i> Sửa
                                    </a>
                                </td>

                                <td>
                                    <a asp-action="Delete" asp-route-id="@employee.EmployeeId" class="btn btn-danger btn-sm me-1">
                                        <i class="fa fa-trash"></i> Xóa
                                    </a>
                                </td>

                                <td>
                                    <a asp-action="ViewDetail" asp-route-id="@employee.EmployeeId" class="btn btn-info btn-sm">
                                        <i class="fa fa-eye"></i> Chi Tiết
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
