@model IEnumerable<SalesAndPurchaseManagement.Models.Material>

@{
    ViewData["Title"] = "Danh Sách Nguyên Liệu";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<div class="ms-2 mx-2">
    <a asp-controller="Material" asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Tạo Nguyên Liệu Mới
    </a>

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-3">
            Không có nguyên liệu nào trong danh sách.
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh Sách Nguyên Liệu</h3>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().MaterialId)</th>
                            <th>@Html.DisplayNameFor(model => model.First().MaterialName)</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var material in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => material.MaterialId)</td>
                                <td>@Html.DisplayFor(modelItem => material.MaterialName)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@material.MaterialId" class="btn btn-warning btn-sm me-1">
                                        <i class="fa fa-pencil-alt"></i> Sửa
                                    </a>
                                </td>

                                <td>
                                    <a asp-action="Delete" asp-route-id="@material.MaterialId" class="btn btn-danger btn-sm me-1">
                                        <i class="fa fa-trash"></i> Xóa
                                    </a>
                                </td>

                                

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>