@model SalesAndPurchaseManagement.Models.Customer
@using SalesAndPurchaseManagement.Helpers

@{
    ViewData["Title"] = "Xóa Khách Hàng";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<section class="content">
    <div class="ms-2 mx-2">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Thông tin khách hàng cần xóa</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <h3 class="profile-username text-center">@Model.CustomerName</h3>

                <strong><i class="fas fa-id-card mr-1"></i> @Html.DisplayNameFor(m => m.CustomerId)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.CustomerId)</p>

                <hr>

                <strong><i class="fas fa-phone-alt mr-1"></i> @Html.DisplayNameFor(m => m.PhoneNumber)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.PhoneNumber)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.Address)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.Address)</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Xác nhận xóa -->
        <form asp-action="Delete" method="post">
            <div class="form-group">
                <input type="hidden" asp-for="CustomerId" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</section>
